body {
  font-family: Arial;
  font-size: 120%;
  background-color: rgb(22, 32, 48);
  color:white;
}

a {
  color: rgb(8, 150, 197);
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

a:hover {
  color: blue;
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: blue;
  padding: 2px 10px;
  color: white;
}

button:hover {
  background-color: rgb(8, 150, 197);
}

.choices button {
  display: inline-flex;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.feedback {
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: white;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
}